<div class="articles">
	<% for (const article of
			articles
		) { %>
		<a href="/article/<%- article.slug %>">
			<% if (article.ribbon) { %>
				<span class="ribbon"><%- article.ribbon %></span>
			<% } %>
			<% if (article.thumbnail) { %>
				<img src="<%- article.thumbnail %>" alt="Thumbnail - <%- article.thumbnail %>" loading="lazy">
			<% } %>
			<div>
				<h3><%- article.title %></h3>
				<span><%- article.authors %></span>
			</div>
		</a>
	<% } %>
</div>
