<section class="articles" data-ads="<%- typeof ads === 'undefined' ? 'no' : (ads ? 'yes' : 'no') %>" data-q="<%- typeof q === 'undefined' ? '' : q %>">
	<div class="articles-list card-grid scaled-3">
		<% for (const article of
				articles.slice(0, 6)
			) { %>
			<a href="/article/<%- article.slug %>" class="card<%- article.tags.indexOf('cartoon') !== -1 ? ' cartoon' : ''  %>">
				<% if (article.ribbon) { %>
					<span class="ribbon"><%- article.ribbon %></span>
				<% } %>
				<% if (article.thumbnail) { %>
					<img src="<%- article.thumbnail %>" alt="Thumbnail for <%- quote(`"${article.title}"`) %>" loading="lazy" class="thumbnail"<%- article.thumbnail_max_height %>>
				<% } %>
				<div class="body">
					<h3 class="title"><%- article.title %></h3>
					<span class="subtitle"><%- article.authors.join(", ") %></span>
				</div>
			</a>
		<% } %>
	</div>

	<% if (typeof ads !== 'undefined' && ads) { %>
		<a class="articles-ad" <% if (ad_links[ad_list[0]]) { %>href="<%- ad_links[ad_list[0]] %>"<%}%>><img src="/bigfunny/<%- ad_list[0] %>" alt="Big Funny Banner"></a>
	<% } %>

	<% if (typeof q !== 'undefined') { %>
		<button class="articles-load_more">Load More</button>
	<% } %>
</section>
