<section class="articles" data-ads="<%- typeof ads === 'undefined' ? 'no' : (ads ? 'yes' : 'no') %>" data-q="<%- typeof q === 'undefined' ? '' : q %>">
	<div class="articles-list">
		<% for (const article of
				articles.slice(0, 6)
			) { %>
			<a href="/article/<%- article.slug %>"<%- article.tags.indexOf('cartoon') !== -1 ? ' class="cartoon"' : ''  %>>
				<% if (article.ribbon) { %>
					<span class="ribbon"><%- article.ribbon %></span>
				<% } %>
				<% if (article.thumbnail) { %>
					<img src="<%- article.thumbnail %>" alt="Thumbnail for <%- quote(`"${article.title}"`) %>" loading="lazy">
				<% } %>
				<div>
					<h3><%- article.title %></h3>
					<span><%- article.authors %></span>
				</div>
			</a>
		<% } %>
	</div>

	<% if (typeof ads !== 'undefined' && ads) { %>
		<img class="articles-ad" src="/ads/<%- ad_list[0] %>">
	<% } %>

	<% if (typeof q !== 'undefined') { %>
		<button class="articles-load_more">Load More</button>
	<% } %>
</section>
