<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/head.ejs", {title: "Contact"}) %>
</head>
<body>
	<%- include("./partials/nav.ejs") %>

	<main>
		<h2>About</h2>

		<p>
			The Snitch is a satirical school publication with absolutely no connection to any school sanctioned media, which should be abundantly clear the second you begin reading our poorly edited articles. We write on various topics ranging from local news to politics. Our team consists of a myriad of talents - from showing up two times and never coming back to using this to pad our resumes. We want to thank you for reading this far as every view helps us get into college.
		</p>

		<p>

		</p>

		<h3>Our Awesome Team</h3>


		<div class="people">
			<% for (const person of people) { %>
				<div>
					<h4><%- person.name %></h4>
					<h5><%- person.tagline %></h5>
					<p><%- person.description %></p>
				</div>
			<% } %>
		</div>
	</main>

	<%- include("./partials/footer.ejs") %>
</body>
</html>
