<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/head.ejs", {title: article.title}) %>
</head>
<body>
	<%- include("./partials/nav.ejs") %>

	<main>
		<h2 class="article_title"><%- article.title %></h2>
		<h3 class="article_authors"><%- article.authors %> &bull; <%- months[article.date.month - 1] %> <%- article.date.day %>, <%- article.date.year %></h3>
		
		<% if (article.thumbnail) { %>
			<img src="<%- article.thumbnail %>" class="thumbnail">
		<% } %>

		<div class="article_content">
			<%- article.rendered %>
		</div>

		<% if (article.series) { %>
			<div class="article_series">
				<p>This article is part of the <strong><%= article.series %></strong> series.</p>

				<div>
					<% var i = 1 %>
					<% for (const a of getSeries(article.series)) { %>
						<a href="/article/<%- a.slug %>" title="<%= a.title %>" class="<%- a.slug === article.slug ? 'current' : '' %>"><%= i %></a>

						<% i++ %>
					<% } %>
				</div>
			</div>
		<% } %>
	</main>

	<%- include("./partials/footer.ejs") %>
</body>
</html>