<%- include("./partials/head.ejs", {title: article.title, image: article.thumbnail, authors: article.authorsText, description: article.description ? article.description : article.body.slice(0, 500), dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<article class="article">
		<h2><%- article.title %></h2>
		<span><%- article.authorsText %> &bull; <%- formatDate(article.date) %></span>
			
		<% if (article.thumbnail) { %>
			<img src="<%- article.thumbnail %>" alt="Thumbnail for <%- quote(`"${article.title}"`) %>" class="article-thumbnail">
		<% } %>

		<section class="article-content">
			<%- article.rendered %>
		</section>

		<%- include("./partials/article/end.ejs", {articles, article, authors}) %>
	</article>
</main>

<%- include("./partials/footer.ejs") %>
