<%- include("./partials/head.ejs", {title: article.title, image: article.thumbnail, description: article.description ? article.description : article.body.slice(0, 500), dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<article class="article">
		<h2><%- article.title %></h2>
		<span><%- article.authors %> &bull; <%- months[article.date.month - 1] %> <%- article.date.day %>, <%- article.date.year %></span>
			
		<% if (article.thumbnail) { %>
			<img src="<%- article.thumbnail %>" alt="Thumbnail for <%- quote(`"${article.title}"`) %>" class="article-thumbnail">
		<% } %>

		<section class="article-content">
			<%- article.rendered %>
		</section>

		<% if (article.series) { %>
			<section class="article-series">
				<p>This article is part of the <strong><%= article.series %></strong> series.</p>

				<%- include("./partials/articles.ejs", {articles: getSeries(article.series), q: `:${article.series}`}) %>
			</section>
		<% } %>
	</article>
</main>

<%- include("./partials/footer.ejs") %>
