<%- include("./partials/head.ejs", {title: article.title, image: article.thumbnail, authors: article.authors.join(", "), description: article.description ? article.description : article.body.slice(0, 500), dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<article class="article">
		<h2><%- article.title %></h2>
		<span><%- article.authors.join(", ") %> &bull; <%- formatDate(article.date) %></span>
			
		<% if (article.thumbnail) { %>
			<img src="<%- article.thumbnail %>" alt="Thumbnail for <%- quote(`"${article.title}"`) %>" class="article-thumbnail">
		<% } %>

		<section class="article-content">
			<%- article.rendered %>
		</section>

		<% if (article.series) { %>
			<section class="article-series">
				<h3>Articles In The Same Series</h3>

				<p>This article is part of the <strong><%= article.series %></strong> series.</p>

				<%- include("./partials/articles.ejs", {articles: getSeries(articles, article.series).reverse(), q: `:${article.series}`}) %>
			</section>
		<% } %>

		<section class="article-recommended">
			<h3>Recommended Articles</h3>

			<%- include("./partials/articles.ejs", {articles: getRecommended(articles, article)}) %>
		</section>

		<% if (authors.length !== 0) { %>
			<section class="article-authors">
				<h3>Authors</h3>

				<div class="people card-grid">
					<% for (const person of authors) { %>
						<div class="card">
							<div class="body">
								<h4 class="title"><%- person.name %></h4>
								<h5 class="subtitle"><%- person.tagline %></h5>
								<p class="excerpt"><%- person.description %></p>
							</div>
						</div>
					<% } %>
				</div>
			</section>
		<% } %>
	</article>
</main>

<%- include("./partials/footer.ejs") %>
