<%- include("./partials/head.ejs", {title: "History", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>History</h2>

	<p>
		The Snitch was created by our founder Dale Bell in October 2019. Dale recruited many early Snitch members who remained throughout; Bill Angell, a skilled writer; Caleb Levy and Benjy Eichner, two talented editors; and Auguste Rame, the programmer behind The Snitch's website.
	</p>

	<p>
		The Snitch went through a "dry phase" in late 2019 and early 2020, but then COVID-19 hit, which allowed us to flex our web muscles and go on a recruiting binge, leading to The Snitch and Snitch team we know today.
	</p>

	<h3>Our Ex-Staff</h3>

	<div class="people card-grid">
		<% for (const person of people) { %>
			<div class="card">
				<div class="body">
					<h4 class="title"><%- person.name %></h4>
					<h5 class="subtitle"><%- person.tagline %></h5>
					<p class="excerpt"><%- person.description %></p>
				</div>
			</div>
		<% } %>
	</div>
</main>

<%- include("./partials/footer.ejs") %>
