<%- include("./partials/head.ejs", {title: quiz.title, image: quiz.thumbnail, authors: quiz.authors.join(", "), description: quiz.description, dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<article class="quiz">
		<h2><%- quiz.title %></h2>
		<span><%- quiz.authors.join(", ") %> &bull; <%- formatDate(quiz.date) %></span>
			
		<% if (quiz.thumbnail) { %>
			<img src="<%- quiz.thumbnail %>" alt="Thumbnail for <%- quote(`"${quiz.title}"`) %>" class="quiz-thumbnail">
		<% } %>

		<section class="quiz-content">
            <p><%- quiz.description %></p>

            <% for (const question of quiz.data.questions) { %>
                <div class="quiz-question">
                    <h3><%= question.prompt %></h3>
        
                    <div class="quiz-choices">
                        <% for (const [i, answer] of shuffle(question.answers).entries()) { %>     
                            <% if (quiz.data.style === "single-point") { %>
                                <div data-score="<%= answer.score %>"><span><%= String.fromCharCode(65+i) %></span> <span><%= answer.text %></span></div>
                            <% } else if (quiz.data.style === "mcq") { %>
                                <div<%- answer.correct ? ` class="correct"` : ''%>><span><%= String.fromCharCode(65+i) %></span> <span><%= answer.text %></span></div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </section>

        <div class="quiz-results <%= quiz.data.style %>">
            <% if (quiz.data.style === "single-point") { %>
                <h3 class="quiz-results-title">You're []</h3>

                <p class="quiz-results-description">...</p>

                <% for (const result of Object.keys(quiz.data.results)) { %>
                    <div class="quiz-result" data-score="<%= result %>">
                        <span><%= quiz.data.results[result].title %></span> <div class="progress"><div class="progress-fill" style="width: 50%;"><span>50%</span></div></div>
                    </div>
                <% } %>
            <% } else if (quiz.data.style === "mcq") { %>
                <div>
                    <h3 class="percentage">50%</h3>
                    <div class="progress"><div class="progress-fill" style="width: 50%;"></div></div>
                </div>

                <div>
                    <h3 class="quiz-results-title">You're []</h3>

                    <p class="quiz-results-description">...</p>
                </div>
            <% } %>
        </div>

        <% if (quiz.series) { %>
			<section class="article-series">
				<h3>Articles In The Same Series</h3>

				<p>This article is part of the <strong><%= quiz.series %></strong> series.</p>

				<%- include("./partials/articles.ejs", {articles: getSeries(articles, quiz.series).reverse(), q: `:${quiz.series}`}) %>
			</section>
		<% } %>

		<h3>Recommended Articles</h3>
		<%- include("./partials/articles.ejs", {articles: getRecommended(articles, quiz)}) %>

        <% if (authors.length !== 0) { %>
			<section class="article-authors">
				<h3>Authors</h3>

				<div class="people card-grid">
					<% for (const person of authors) { %>
						<div class="card">
							<div class="body">
								<h4 class="title"><%- person.name %></h4>
								<h5 class="subtitle"><%- person.tagline %></h5>
								<p class="excerpt"><%- person.description %></p>
							</div>
						</div>
					<% } %>
				</div>
			</section>
		<% } %>
	</article>
</main>

<script>const quiz = <%- JSON.stringify(quiz.data) %>;</script>
<%- include("./partials/footer.ejs") %>
