<%- include("./partials/head.ejs", {title: quiz.title, image: quiz.thumbnail, authors: quiz.authorsText, description: quiz.description, dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<article class="quiz">
		<h2><%- quiz.title %></h2>
		<span><%- quiz.authorsText %> &bull; <%- formatDate(quiz.date) %></span>
			
		<% if (quiz.thumbnail) { %>
			<img src="<%- quiz.thumbnail %>" alt="Thumbnail for <%- quote(`"${quiz.title}"`) %>" class="quiz-thumbnail">
		<% } %>

		<section class="quiz-content">
            <p><%- quiz.description %></p>

            <% for (const question of quiz.data.questions) { %>
                <div class="quiz-question">
                    <h3><%= question.prompt %></h3>
        
                    <div class="quiz-choices">
                        <% for (const [i, answer] of shuffle(question.answers).entries()) { %>     
                            <% if (quiz.data.style === "single-point") { %>
                                <div data-score="<%= answer.score %>"><span><%= String.fromCharCode(65+i) %></span> <span><%= answer.text %></span></div>
                            <% } else if (quiz.data.style === "mcq") { %>
                                <div<%- answer.correct ? ` class="correct"` : ''%>><span><%= String.fromCharCode(65+i) %></span> <span><%= answer.text %></span></div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </section>

        <div class="quiz-results <%= quiz.data.style %>">
            <% if (quiz.data.style === "single-point") { %>
                <h3 class="quiz-results-title">You're []</h3>

                <p class="quiz-results-description">...</p>

                <% for (const result of Object.keys(quiz.data.results)) { %>
                    <div class="quiz-result" data-score="<%= result %>">
                        <span><%= quiz.data.results[result].title %></span> <div class="progress"><div class="progress-fill" style="width: 50%;"><span>50%</span></div></div>
                    </div>
                <% } %>
            <% } else if (quiz.data.style === "mcq") { %>
                <div>
                    <h3 class="percentage">50%</h3>
                    <div class="progress"><div class="progress-fill" style="width: 50%;"></div></div>
                </div>

                <div>
                    <h3 class="quiz-results-title">You're []</h3>

                    <p class="quiz-results-description">...</p>
                </div>
            <% } %>
        </div>

		<%- include("./partials/article/end.ejs", {articles, article: quiz, authors}) %>
	</article>
</main>

<script>const quiz = <%- JSON.stringify(quiz.data) %>;</script>
<%- include("./partials/footer.ejs") %>
