<%- include("./partials/head.ejs", {title: "Search", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>Results for <%= query %></h2>

	<%- include("./partials/search.ejs", {value: query}) %>

	<% var as = queryArticles(articles, query).sort((a, b) => b.date_js - a.date_js, 0) %>

	<% if (as.length === 0) { %>
		<p>Zero results found!</p>
	<% } else { %>
		<%- include("./partials/articles.ejs", {articles: as, q: query}) %>
	<% } %>
</main>

<%- include("./partials/footer.ejs") %>
