<%- include("./partials/head.ejs", {title, dark}) %>

<%- include("./partials/nav.ejs") %>

<main>
	<div id="top_right">
		<%- include("./partials/search.ejs") %>
		<%- include("./partials/art.ejs") %>
	</div>
	
	<h2><%- title %></h2>
	
	<p class="tagline"><%- description %></p>
	
	<%- include("./partials/articles.ejs", {articles: tag === "featured" ? articles.sort((a, b) => b.date_js - a.date_js, 0) : articles.filter(_ => _.tags.indexOf(tag) !== -1).sort((a, b) => b.date_js - a.date_js, 0), q: `#${tag}`}) %>
</main>

<%- include("./partials/footer.ejs") %>
